	<table class="table table-bordered table-hover table-dark">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Preço</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
			<%= render @produtos%>
		</tbody>
	</table>
	<%= link_to "Cadastrar novo", new_produto_path, class: "btn btn-primary" %>
</div>
