	<% if flash[:notice] %>
	<div class="alert alert-sucess" role="alert"><%= flash[:notice] %></div>	
	<% end %>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Descrição</th>
				<th>Preço</th>
				<th>Quantidade</th>
			</tr>
		</thead>
		<tbody>
				<%= render @produtos_por_id %>
		</tbody>
	</table>
	<%= link_to "Cadastrar novo", new_produto_path, class: "btn btn-primary" %>
</div>
